<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Editing school</h1>

      <%= render "form", school: @school %>

      <div class="text-center mt-3">
        <%= link_to "Show this school", @school, class: "btn btn-primary" %> |
        <%= link_to "Back to schools", schools_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
