<div class="container">
  <div class="row justify-content-center">
    <div id="<%= dom_id batch %>" class="text-center">
      <p>
        <strong>Name:</strong>
        <%= batch.name %>
      </p>

      <p>
        <strong>Course:</strong>
        <%= batch.course_id %>
      </p>
    </div>
  </div>
</div>
